{
	"extends": "airbnb/legacy",
  "plugins": [
    "import"
  ],
	"rules": {
    "semi": 2,
    "new-cap": [2, {
      "capIsNewExceptions": [
        "Deferred"
      ]
    }],
    "func-names": 0,
    "vars-on-top": 2,
    "import/no-unresolved": [2, {commonjs: true, amd: true}]
  },
  "settings":{
    "import/resolver":{
      "webpack":{
        "config": "./bin/webpack.dev.config.js"
      }
    }
  },
  "env":{
  	"jquery":true,
  	"commonjs":true,
  	"browser":true
  }
}
