{
	"extends": "airbnb/legacy",
	"parserOptions": {
      "ecmaVersion": 5,
      "sourceType": "module",
      "ecmaFeatures": {
        impliedStrict: true
      },
      "global-require": false
  },
  "env":{
  	"jquery":true,
  	"commonjs":true,
  	"browser":true
  }
}
