//- - var complie = htmlWebpackPlugin.options.globalConfig
//- - var src = complie.cdn || '/plugins/'
doctype html
html(lang=en)
  head
    title 222222222
    
    link(type='text/css',href='index.css',rel='stylesheet')
  body
    h1 222222222 
    include ../../_/jade/baselib.jade
    
