
doctype html
html(lang=en)
  head
    title 第二个页面 
  body
    h1 标题 
    nav
    h2 test page1111222
    div hello word 123 
    div.person 111323
    div#content
    
    include ../../_/jade/baselib.jade
    
