//- - var complie = htmlWebpackPlugin.options.globalConfig
//- - var src = complie.cdn || '/plugins/'

doctype html
html(lang=en)
  head
    title 360某次活动落地页
    link(type='text/css',href='index.css',rel='stylesheet')
  body
    h1 落地页
    include ../../_/jade/baselib.jade
    
