//- - var complie = htmlWebpackPlugin.options.globalConfig
//- - var src = complie.cdn || '/plugins/'

doctype html
html(lang=en)
  head
    title 360某次活动落地页
  body
    h1 落地页
    nav
    h2 test page1111222
    div hello word 123 
    div.person 111323
    div#content
    
    include ../../_/jade/baselib.jade
    
